h1 {
  font-family: var(--typeface-dis-h1);
  font-size: var(--fs-dis-h1);
  font-weight: var(--fw-others);
  color: var(--fc-text);
}

h2 {
  font-family: var(--typeface-h2);
  font-size: var(--fs-h2);
  font-weight: var(--fw-others);
  color: var(--fc-text);
}